.card
  position: relative
  width: .7em
  height: 1em
  color: white
  line-height: 1em
  text-align: center
  font-family: monospace
  transform-style: preserve-3d
  perspective: 3em
  margin-right: .03em
  box-sizing: border-box
  .after
    right: -.03em
    border-radius: 0 .02em .02em 0
    width: .03em
    height: .14em
    background: black
    position: absolute
    top: 50%
    margin-top: -.07em
  .before
    left: -.03em
    border-radius: .02em 0 0 .02em
    width: .03em
    height: .14em
    background: black
    position: absolute
    top: 50%
    margin-top: -.07em

  .b-1
    position: absolute
    top: 0
    left: 0
    background: black
    width: 100%
    height: .5em
    overflow: hidden
    z-index: 1
    transform: translateZ(-.0001em)
    border-radius: .06em .06em 0 0
    border: .01em solid black
    box-sizing: border-box
    .top
      position: absolute
      top: 0
      left: 0
      width: 100%
      text-align: center
  .b-2
    position: absolute
    top: .5em
    left: 0
    background: black
    width: 100%
    height: .5em
    overflow: hidden
    z-index: 1
    transform: translateZ(-.0001em)
    border-radius: 0 0 .06em .06em
    border: .01em solid black
    box-sizing: border-box
    .bottom
      position: absolute
      top: -.5em
      left: 0
      width: 100%
      text-align: center
  .f
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: .5em
    transform-origin: bottom
    z-index: 10
    transform-style: preserve-3d
    .a-1
      position: absolute
      top: .51em
      left: 0
      background: black
      width: 100%
      height: .5em
      overflow: hidden
      transform-origin: top
      transform: rotateX(180deg)
      border-radius: 0 0 .06em .06em
      border: .01em solid black
      box-sizing: border-box
      .hou
        position: absolute
        top: -.5em
        left: 0
        width: 100%
        text-align: center
    .a-2
      position: absolute
      top: 0
      left: 0
      background: black
      width: 100%
      height: .5em
      overflow: hidden
      transform-origin: top
      transform: translateZ(.00001em)
      border-radius: .06em .06em 0 0
      border: .01em solid black
      box-sizing: border-box
      .qian
        position: absolute
        top: 0
        left: 0
        width: 100%
        text-align: center
  .flip
    transition: all ease 0.5s
    transform: rotateX(-180deg)

.separator
  position: relative
  height: 1em
  color: black
  font-size: .6em
  line-height: 1em
  text-align: center
  font-family: monospace
  vertical-align: baseline
